<div class="container p-4">
    <div class="col-md-6 mx-auto">
        <H3 class="text-center text-uppercase">LISTA DE HERRAMIENTAS</H3>
        <div class="card text-center">
            <div class="card-header">
                <h3 class="text-uppercase bg-success">EDITANDO UN HERRAMIENTA</h3>
            </div>
            <div class="card-body">
                <form action = "/editherramienta/{{herramientas.id}}" method = "post"> 
                <div class="input group mt-2">
                    <label for="tipoHerramienta" class="input-group-text">TIPO HERRAMIENTA</label>
                    <input class="form-control" type="text" name="tipoHerramienta" id="tipoHerramienta" value="{{herramientas.tipoHerramienta}}" placeholder=" "
                    autofocus required>
                </div>
                 <div class="input group mt-2">
                    <label for="marca" class="input-group-text">MARCA</label>
                    <input class="form-control" type="text" name="marca" id="marca" value="{{herramientas.marca}}" placeholder=" "
                    required>
                </div>
                 <div class="input group mt-2">
                    <label for="descripcion" class="input-group-text">DESCRIPCION</label>
                    <input class="form-control" type="text" name="descripcion" id="descripcion" value="{{herramientas.descripcion}}" placeholder="RESUMA EL PRODUCTO" required>
                </div>
                
                 <div class="input group mt-2">
                    <label for="fechaIngreso" class="input-group-text">FECHA</label>
                    <input class="form-control" type="text" name="fechaIngreso" id="fechaIngreso" value="{{herramientas.fechaIngreso}}" placeholder="Ejemplo: 1980-10-21" required>
                </div>
                ,<form-group class="mt-4 d-grid gap-2">
                    <button class="btn btn-success">ACTUALIZAR</button>
                </form-group>
                 </form>
            </div>
        </div>
    </div>
</div>